.header {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: White;
  background-color: #333;
  overflow: hidden;
  padding: 10px;
}

.hidden {
  display: none;
}

.modle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modle {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.button-properties {
  width: 150px !important;
  height: 60px !important;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.buttonalignment {
  padding: 20px;
}

.alignment-right {
  position: absolute;
  right: 2%;
  padding-right: 10px;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: green;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 20px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked::after {
  content: "";
}

ul li.checked {
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
}

.listelement {
  box-sizing: content-box;
  margin-right: 5px;
}

input.extended {
  width: 100%;
}

.heading {
  position: absolute;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  align-content: center;

  background-color: #333;
  top: 0%;
  left: 0%;
  right: 0%;
}


@media screen and (max-width: 500px) {
  .header {
    text-align: left;
  }
}
